*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-color: #837ECE;
    height: 100vh;
    color: black;
}
.calculadora{
    position: absolute;
    background-color: #2D2A37;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.botao-base {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 100px;
    border-style: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #ffff;
    transition: all 0.3s ease;
}
.botao {
    background-image: linear-gradient(#2C2A36, #373440);
}
.botaoRoxo {
    background-color: #442773;
    font-size: 25px;
}
.botaoLilas {
    background-color: #7F4AD8;
}
.botaoCE {
    background-image: linear-gradient(#2C2A36, #373440);
    color: #975DFA;
}
.botao-base:hover{
    background: linear-gradient(45deg, #f700ff, #6a11cb);
}
#resultado{
    background-color: #2D2A37;
    width: 200px;
    height: 30px;
    margin: 2px;
    font-size: 25px;
    color: #ffff;
    text-align: right;
    padding: 5px;
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#historico{
    background-color: #2D2A37;
    width: 200px;
    height: 10px;
    margin: 2px;
    font-size: 10px;
    color: gray;
    text-align: right;
    padding: 5px;
}